
body {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    color: #fff;
    background-color: #015C91;
  }
  
  .navbar {
    background-color: #FF9E00;
    color: #fff;
  }
  
  .navbar-brand img {
    height: 40px;
    margin-right: 10px;
  }
  
  .nav-link {
    color: #fff !important;
  }
  
  .nav-link img {
    margin-right: 8px;
  }

.table-container {
    margin: 0 auto;
    margin-top: 50px;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
}
.btn-group {
    display: flex;
    justify-content: space-between;
}
.navbar .nav-link {
    color: white !important;
}
.btn-orange {
    margin-top: 10px;
    color: #fff;
    background-color: #FF9E00;
    border: 2px solid #FF9E00;

    padding: 8px 16px;
    margin-right: 10px;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

.table-container {
    margin-top: 20px;
}