body {
    font-family: var(--titulo);
    font-weight: 700;
    background-color: var(--branco);
    color: #fff;
    padding-bottom: 60px;
}

.custom-bg {
    background-color: var(--azul);
}

.navbar-brand {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.navbar-brand img {
    margin-right: 10px;
}

.navbar-brand span {
    color: #FFA500;
}

.btn-warning {
    border-radius: 20px;
}

.small-box {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-background {
    position: relative;
    background-image: url('../img/home_bg.png'); 
    background-size: cover;
    background-position: center;
    padding: 20px;
    height: 500px; 
}

.overlay-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.quadro {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    color: #FFA500;
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
}

.comunicado {
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid #1C3372;
    padding: 20px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.comunicado-title {
    color: #1C3372;
    margin-bottom: 15px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

.comunicado-body {
    color: #000;
    flex: 1;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 10px;
    accent-color: orange;
}

.date-box {
    background-color: orange;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9em;
    margin-top: 10px;
}

label{
    color: var(--preto);
    font-family: var(--titulo);
    padding-top: 10px;
}