body {
    font-family: 'Nunito', sans-serif;
    background-color: #015C91;
    font-weight: 700;
    color: #fff;
}
.navbar {
    background-color: #FF9E00;
    color: #fff;
}
.navbar-brand img {
    height: 40px;
    margin-right: 10px;
}
.nav-link {
    color: #fff !important;
}
.nav-link img {
    margin-right: 8px;
}
.btn-orange {
    background-color: #FF8600;
    color: #fff;
    border: none;
}
.btn-orange:hover {
    background-color: #FF8600;
    color: #fff;
}
.table th {
    color: #fff;
    background-color: #FF8600;
}
.table td {
    color: black;
}
.table-container {
    background-color: #fff;
    color: black;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}